PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

PUBLIC_UNSHORTENER_LINK=ktn.li/

MONGODB_URI=mongodb://admin:password@katana-mongodb:27017/katana?authSource=admin

MONGODB_USERNAME=admin
MONGODB_PASSWORD=password

UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=

REDIS_URL=

DEPLOYMENT_RUNTIME=node

DATABASE_URL=