.form {
  transition: 0.2s;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  & .field {
    margin-bottom: 20px;

    & label {
      display: block;
      font-size: var(--font-sm);
      font-weight: 500;

      & span {
        font-weight: 400;
        color: var(--color-foreground-subtler);
      }
    }

    & input {
      display: block;
      width: 100%;
      min-width: 0;
      height: 45px;
      padding: 0 12px;
      margin-top: 8px;
      font-size: var(--font-sm);
      color: var(--color-foreground);
      background-color: var(--color-neutral-2);
      border: 1px solid var(--color-neutral-6);
      border-radius: 4px;
      outline: none;

      &:focus-visible {
        outline: 3px solid var(--color-neutral-3);
        outline-offset: 2px;
      }
    }

    & select {
      display: block;
      width: 100%;
      min-width: 0;
      height: 45px;
      padding: 0 12px;
      margin-top: 8px;
      font-size: var(--font-sm);
      color: var(--color-foreground);
      background-color: var(--color-neutral-2);
      border: 1px solid var(--color-neutral-6);
      border-radius: 4px;
      outline: none;

      &:focus-visible {
        outline: 3px solid var(--color-neutral-3);
        outline-offset: 2px;
      }
    }

    & .inputWrapper {
      display: flex;
      column-gap: 4px;
      align-items: center;
      width: 100%;
      height: 45px;
      margin-top: 8px;
      font-size: var(--font-sm);
      background-color: var(--color-neutral-2);
      border: 1px solid var(--color-neutral-6);
      border-radius: 4px;
      outline: none;

      &:focus-within {
        outline: 3px solid var(--color-neutral-3);
        outline-offset: 2px;
      }

      & input {
        display: block;
        flex-grow: 1;
        width: 100%;
        min-width: 0;
        height: 100%;
        padding: 0 0 0 12px;
        margin-top: 0;
        font-size: var(--font-sm);
        color: var(--color-foreground);
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
      }

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 100%;
        color: var(--color-foreground-subtler);
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;

        &:last-of-type {
          margin-right: 8px;
        }
      }
    }

    & p {
      margin-top: 12px;
      font-size: var(--font-xsm);
      color: var(--color-foreground-subtle);

      & a {
        font-weight: 500;
        color: var(--color-foreground);
        text-decoration: none;
      }
    }
  }

  & .turnstile {
    margin-bottom: 20px;
  }

  & .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    font-size: var(--font-sm);
    font-weight: 500;
    color: var(--color-neutral-1);
    cursor: pointer;
    background-color: var(--color-accent);
    border: none;
    border-radius: 4px;
    outline: none;
    transition: 0.2s;

    &:focus-visible {
      outline: 3px solid var(--color-neutral-5);
      outline-offset: 2px;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}

.result {
  .field {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    & label {
      display: block;
      font-size: var(--font-sm);
      font-weight: 500;
    }

    & .inputWrapper {
      display: block;
      display: flex;
      column-gap: 8px;
      align-items: center;
      width: 100%;
      height: 45px;
      padding: 4px;
      margin-top: 8px;
      background-color: var(--color-neutral-2);
      border: 1px solid var(--color-neutral-6);
      border-radius: 4px;

      &:focus-within {
        outline: 3px solid var(--color-neutral-3);
        outline-offset: 2px;
      }

      & input {
        flex-grow: 1;
        width: 100%;
        min-width: 0;
        height: 100%;
        padding: 0 12px;
        font-size: var(--font-sm);
        color: var(--color-foreground);
        background-color: transparent;
        border: none;
        outline: none;
      }

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1 / 1;
        font-size: var(--font-sm);
        color: var(--color-foreground-subtle);
        cursor: pointer;
        background-color: var(--color-neutral-3);
        border: none;
        border-radius: 2px;
        outline: none;

        &:focus-visible {
          outline: 3px solid var(--color-neutral-5);
          outline-offset: 2px;
        }
      }
    }

    & p {
      margin-top: 12px;
      font-size: var(--font-xsm);
      color: var(--color-foreground-subtle);

      & span {
        font-weight: 500;
        color: var(--color-foreground);
      }
    }
  }

  & .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    margin-top: 20px;
    font-size: var(--font-sm);
    font-weight: 500;
    color: var(--color-neutral-1);
    cursor: pointer;
    background-color: var(--color-accent);
    border: none;
    border-radius: 4px;
    outline: none;

    &:focus-visible {
      outline: 3px solid var(--color-neutral-5);
      outline-offset: 2px;
    }
  }
}
