---
import Layout from '@/layouts/layout.astro';

import { supabase } from '@/lib/supabase';

const { count } = await supabase
  .from('katana.urls')
  .select('*', { count: 'exact' });
---

<Layout>
  <h1>Hello World</h1>
  <p>{count} URLs</p>
</Layout>
