.tabs {
  position: relative;
  display: flex;
  column-gap: 4px;
  align-items: center;
  height: 50px;
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid var(--color-neutral-3);
  border-radius: 12px;

  & .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    height: 100%;
    font-size: var(--font-xsm);
    color: var(--color-foreground-subtle);
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: 0.2s;

    &:focus-visible {
      outline: 3px solid var(--color-neutral-3);
      outline-offset: 2px;
    }

    &:hover {
      background-color: var(--color-neutral-2);
    }

    &.selected {
      position: relative;
      font-weight: 500;
      color: var(--color-foreground);
      background-color: var(--color-neutral-3);
    }
  }
}
